@import '@/sass/Import'

*, body
  margin: 0
  padding: 0
  background-color: $background-color

.app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: $main-text-color

  +element('gruops')
    height: 100vh
    width: calc(100% / 3)

  +element('buttons')
    height: 100vh
    width: calc(100% / 1.5)
